.bookmark {
    margin: 2em 1em;
    padding: 1em;
    background-color: rgba(36, 37, 37, .5);
    backdrop-filter: blur(25px);
}

.bookmark .category-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bookmark .category {
    padding: 0.7em;
    background: #5a5a5a;
    border-radius: 3px;
    margin: 0.5em;
}

.bookmark .category:hover {
    color: #fff;
}

.bookmark .category.active {
    background: #8e06be;
    color: #fff;
}

.bookmark .search-box {
    width: 100%;
    position: relative;
}

.bookmark .search-box input {
    font-size: 18px;
    width: 100%;
    height: 2.5em;
    padding: 0.3em;
    border: solid 2px #575454;
    border-radius: 3px 3px 0 0;
    color: rgb(189, 181, 170)
}

.bookmark .search-box input:focus {
    border-color: rgb(141, 141, 141);
    background: #131313;
    color: #fff;
}

.bookmark .search-box .search-result {
    width: calc(100% - 4px);
    position: absolute;
    z-index: 1;
    border: solid 2px #575454;
    border-top: none;
}

.bookmark .search-box .search-result ul li {
    list-style: none;
    font-size: 16px;
    height: 2em;
    border-bottom: solid 2px #2d2d2d;
    background: #575454;
    line-height: 2em;
    padding: 0.3em;
    cursor: pointer;
}

.bookmark .search-box .search-result ul li:last-child {
    border: none;
}

.bookmark .search-box .search-result ul li:hover, .bookmark .search-box .search-result ul li.selected {
    background: #2d2c2c;
}

.bookmark .bookmark-container {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; */
    margin-top: 1em;
    column-count: auto;
    column-gap: 1em;
    column-width: 300px;
}

.bookmark-container .bookmark-item {
    padding: 1em 0.3em;
    break-inside: avoid;
    background: rgb(0 0 0 / 50%);
    margin-bottom: 1em;
    backdrop-filter: blur(25px);
    border-radius: 3px;
    /* 兼容firefox */
    overflow: hidden;
}

.bookmark-container .bookmark-item:hover {
    background: #000;
}

.bookmark-item a {
    color: #00b2ff
}

.bookmark-item a:hover {
    color: #5298dd
}

.bookmark .bookmark-icon {
    width: 32px;
    height: 32px;
    margin-right: 0.3em;
}

.bookmark-item .bookmark-card {
    display: flex;
    flex-direction: column;
}

.bookmark-card>img {
    width: 100%;
    margin-bottom: 1em;
}

.bookmark-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.bookmark-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bookmark-action {
    margin-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bookmark-setting {
    color: #00b2ff;
    cursor: pointer;
}

.bookmark .layui-colla-item.create-form, .bookmark .layui-colla-item.create-form .layui-colla-title {
    background: rgba(36, 37, 37, .5);
    backdrop-filter: blur(25px);
    color: rgb(189, 181, 170)
}

@media screen and (max-width: 640px) {
    .bookmark {
        margin: 1em;
    }
}

@media (prefers-color-scheme: light) {
    .bookmark {
        background-color: rgba(255, 255, 255, .5);
    }

    .bookmark-container .bookmark-item {
        background: rgba(255, 255, 255, .5);
    }

    .bookmark-container .bookmark-item:hover {
        background: #fff;
    }

    .bookmark-item a {
        color: #ff2626;
    }

    .bookmark-item a:hover {
        color: #fa0000;
    }

    .bookmark-setting {
        color: #ff2626;
    }

    .bookmark .layui-colla-item.create-form, .bookmark .layui-colla-item.create-form .layui-colla-title {
        background: rgba(255, 255, 255, .5);
        color: black;
    }

    .layui-btn-primary {
        color: rgb(26, 25, 25);
    }

    .layui-btn-primary:hover {
        color: #000;
    }

    .bookmark .category {
        background: #d4f4f6;
    }

    .bookmark .category:hover {
        color: #000;
        font-weight: bold;
    }

    .bookmark .category.active:hover {
        color: #fff;
    }

    .bookmark .search-box input:focus {
        border-color: #000;
        background: #fff;
        color: #000;
    }

    .bookmark .search-box .search-result ul li {
        background: #fff;
    }

    .bookmark .search-box .search-result ul li:hover, .bookmark .search-box .search-result ul li.selected {
        background: #c6c6c6;
        font-weight: bold;
    }
}