/*全局样式*/
html {
    background-color: transparent;
}

@font-face {
    font-family: "cascadia-code";
    src: url("../../fonts/cascadia-code/woff2/CascadiaCode.woff2") format('woff2'),
        url("../../fonts/cascadia-code/ttf/CascadiaCode.ttf") format('truetype');
}

body, .aplayer {
    font-family: "cascadia-code";
}

body {
    background: #eee;
    color: #444;
    /* cursor: url(../images/normal.cur), auto; */
    overflow-x: hidden;
    background: url("../../images/background.jpg") no-repeat fixed;
    background-size: cover;
}

/*
a, button {
    cursor: url(../images/ayuda.cur), auto !important;
}

p {
    cursor: url(../images/texto.cur), auto;
}

input[type="text"], textarea {
    cursor: url(../images/texto.cur), auto;
} */



.blog-module.shadow ul>li a:hover {
    color: #000;
}

.hide {
    display: none;
}

.shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.clear {
    clear: both;
}

.blog-body {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
}

.blog-container {
    margin: 0 15px;
    position: relative;
}

.blog-main {
    margin-top: 15px;
    width: 100%;
    position: relative;
    /* min-height: 100vh; */
}

.blog-main>.home-tips {
    padding: 10px 10px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    font-size: 13px;
    margin-bottom: 15px;
}

.blog-main>.home-tips>i {
    color: #bb0662;
    font-size: 15px;
}

.blog-main>.home-tips>.home-tips-container {
    margin-left: 20px;
    height: 17px;
    overflow: hidden;
}

.blog-main>.home-tips>.home-tips-container>span {
    display: block;
    line-height: 15px;
}

.blog-main>.blog-main-left {
    width: 100%;
    float: left;
}

.blog-main>.blog-main-right {
    width: 100%;
    float: right;
}

code {
    font-family: "Fira Code", "cascadia-code", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace !important;
}


/*全局样式END*/

/*面包屑导航*/
.sitemap {
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    margin-top: 79px;
    padding: 5px 15px;
    line-height: normal;
    border-radius: 0 !important;
}

.sitemap a {
    font-size: 12px;
}

.layui-elem-quote.sitemap * {
    color: black !important;
}

.layui-elem-quote.sitemap a:hover {
    color: black !important;
}

/*面包屑导航END*/

/*顶部导航*/
.blog-nav {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    background-color: #393D49;
    border-bottom: 1px solid #bb0650;
    z-index: 61;
}

.blog-nav .layui-nav {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    background: none;
    display: none;
    text-align: center;
}

.blog-nav .layui-nav .layui-nav-item {
    line-height: 64px;
    margin: 0 5px;
}

.blog-nav .layui-nav .layui-nav-item a {
    padding: 0 15px;
}

.blog-nav .blog-user {
    line-height: 64px;
    position: absolute;
    z-index: 10;
}

.blog-nav .blog-user img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.blog-nav .blog-user img:hover {
    opacity: .5;
}

.blog-nav .blog-user .fa-qq {
    line-height: 64px;
    font-size: 24px;
    color: #c2c2c2;
}

.blog-nav .blog-user .fa-qq:hover {
    color: #fff;
}


.blog-nav .blog-logo {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 64px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Liu Jian Mao Cao', cursive, KaiTi;
    display: inline-block;
    z-index: 10;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-nav .blog-logo img {
    width: 42px;
    border-radius: 21px;
}

.blog-nav .blog-navicon {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    color: white;
    border: 1px solid #bb0662;
    margin-top: 13px;
}

.blog-nav .blog-navicon:hover {
    border: 1px solid #bb0650;
}


/* 顶部导航End */

/*网站底部*/
.blog-footer {
    text-align: center;
    border-top: 1px solid #bb0662;
    margin-top: 15px;
    background: rgba(47, 64, 86, .5);
    backdrop-filter: blur(25px);
    padding: 5px 0;
    color: #d3d2d2;
}

.blog-footer a {
    color: #d2d2d2;
}

.blog-footer a:hover {
    color: #fbfbfb;
}

.blog-footer>p {
    margin: 2px 0;
}

.blog-footer>p a,
.blog-footer>p span {
    padding-left: 7px;
}

/*网站底部END*/

/*子栏目导航*/
.child-nav {
    margin: 15px 0;
    text-align: center;
    height: 39px;
    background: #fff;
    border-bottom: 1px solid #bb0650;
}

.child-nav-btn {
    padding: 0 20px;
    width: auto;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
}

.child-nav-btn-this {
    background: #bb0650;
    color: #fff;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: #bb0650;
    color: #fff
}

/*子栏目导航END*/

/*侧边导航*/
.blog-nav-left {
    top: 65px;
    border-radius: 0;
    border-top: 1px solid #bb0650;
    box-shadow: 0 0 8px #fff;
    backdrop-filter: blur(25px);
    background-color: rgba(57, 61, 73, .5);
}

.leftIn {
    -moz-animation: leftIn 0.5s;
    -o-animation: leftIn 0.5s;
    -webkit-animation: leftIn 0.5s;
    animation: leftIn 0.5s;
}

.leftOut {
    -moz-animation: leftOut 0.5s;
    -o-animation: leftOut 0.5s;
    -webkit-animation: leftOut 0.5s;
    animation: leftOut 0.5s;
}


/*侧边导航END*/

/*侧边导航遮罩*/
.blog-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
}

.maskIn {
    -moz-animation: maskFadeIn 0.5s;
    -o-animation: maskFadeIn 0.5s;
    -webkit-animation: maskFadeIn 0.5s;
    animation: maskFadeIn 0.5s;
}

.maskOut {
    -moz-animation: maskFadeOut 0.5s;
    -o-animation: maskFadeOut 0.5s;
    -webkit-animation: maskFadeOut 0.5s;
    animation: maskFadeOut 0.5s;
}


/*侧边导航遮罩END*/

/*百度分享*/
.blog-share {
    box-shadow: 0 0 8px #fff;
    position: fixed;
    right: 80px;
    bottom: 15px;
    background: #393D49;
    z-index: 999;
    margin-bottom: 1px;
    height: 50px;
}

.blog-share .blog-share-body {
    width: 100%;
    height: 100%;
}

.shareIn {
    -moz-animation: shareIn 0.5s;
    -o-animation: shareIn 0.5s;
    -webkit-animation: shareIn 0.5s;
    animation: shareIn 0.5s;
}

.shareOut {
    -moz-animation: shareOut 0.5s;
    -o-animation: shareOut 0.5s;
    -webkit-animation: shareOut 0.5s;
    animation: shareOut 0.5s;
}

/*百度分享END*/

/*文章列表（网站首页和文章专栏共用）*/
.article {
    padding: 15px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255);
    /*backdrop-filter: blur(25px);*/
    border-left: 5px solid #fff;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.article:hover {
    border-left: 5px solid #bb0662;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.article>.article-left {
    width: 25%;
    float: left;
    max-height: 200px;
    overflow: hidden;
}

.article>.article-left>img.lazy.entered.loading {
    height: 200px;
}

.article>.article-left>img {
    width: 100%;
    height: auto;
    transition: all .6s ease;
    cursor: pointer;
}

.article>.article-left>img:hover {
    transform: scale(1.2);
}

.article>.article-right {
    width: 73%;
    float: right;
    padding-left: 2%;
}

.article>.article-right>.article-title a {
    font-size: 14px;
}

.article>.article-right>.article-title a:hover {
    color: #bb0662;
}

.article>.article-right>.article-title a:active {
    color: #bb0662;
}


/*.article > .article-right > .article-abstract { max-height: 55px;overflow: hidden; }*/

.article>.article-footer {
    margin-top: 5px;
    font-size: 11px;
    padding: 2px;
    color: #58574c;
}

.article>.article-footer>span {
    padding-right: 3%;
}

.article>.article-footer a {
    color: #bb0662;
}

.article>.article-footer .article-viewinfo,
.article>.article-footer .article-author {
    display: none;
}

.icon-stick {
    border: 1px solid #FF5722;
    color: #FF5722;
    padding: 0 2px 0 0;
    font-family: SimHei;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -1px;
    font-size: 13px;
}


/*文章列表END*/

/*右侧模块（网站首页和文章列表以及文章详细共用）*/
.blog-module {
    margin-bottom: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    height: 100%;
}

.blog-module>.blog-module-title {
    border-bottom: 1px solid #bb0662;
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 5px 0;
    margin-bottom: 5px;
}

.blog-module-ul li,
.blog-module-ul .fa {
    margin: 3px 0;
}

.blog-module-ul li .fa {
    color: #bb0662;
}

/*右侧模块END*/

/*文章分类导航*/
.article-category {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(25px);
    background-color: rgba(57, 61, 73, .5);
    color: #eee;
    width: 130px;
    font-size: 11px;
    padding: 10px;
    display: none;
    margin: 0;
    z-index: 999;
}

.article-category>.article-category-title {
    text-align: center;
    border-bottom: 1px solid #bb0662;
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 5px 0;
    margin-bottom: 5px;
}

.article-category>a {
    display: block;
    color: #eee;
    padding: 5px 1%;
    margin: 4px 0;
    background: #bb0662;
    width: 98%;
    text-align: center;
    line-height: 19px;
    word-break: keep-all;
    /* 不换行 */
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;
    /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    float: left;
}

.article-category>a:hover {
    color: #fff;
    background: #bb0650;
}

.category-toggle {
    position: fixed;
    right: 0;
    top: 40%;
    width: 15px;
    background: #bb0662;
    color: #fff;
    font-size: 16px;
    padding: 30px 0;
    z-index: 9999;
}

.category-toggle>i {
    display: block;
    height: 16px;
}

.categoryIn {
    -moz-animation: categoryIn 0.5s;
    -o-animation: categoryIn 0.5s;
    -webkit-animation: categoryIn 0.5s;
    animation: categoryIn 0.5s;
}

.categoryOut {
    -moz-animation: categoryOut 0.5s;
    -o-animation: categoryOut 0.5s;
    -webkit-animation: categoryOut 0.5s;
    animation: categoryOut 0.5s;
}


/*文章分类导航END*/

/*评论与留言*/
.blog-comment {
    position: relative;
    margin-bottom: 10px;
}

.blog-comment li {
    border-bottom: 1px dotted #bb0662;
    padding: 15px 0 10px 0;
    list-style: none;
}

.blog-comment .content,
.blog-comment .info,
.blog-comment .replycontainer {
    margin-left: 53px;
}

.blog-comment .info-footer {
    font-size: 13px;
}

.blog-comment .info,
.blog-comment .replycontainer {
    padding-top: 5px;
}

.blog-comment .replycontainer .layui-form-item {
    margin-bottom: 5px;
}

.blog-comment .info span {
    padding-right: 5px;
}

.blog-comment .info .username {
    color: #bb0662;
}

.blog-comment .info .btn-reply {
    color: #bb0662;
}

.blog-comment .content {
    padding: 2px 0 5px 0;
    min-height: 30px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 15px
}

.blog-comment hr {
    margin-left: 53px;
}

.comment-parent>img {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-parent>span {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border: 1px solid #bb0662;
    border-radius: 45px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #bb0662;
    line-height: 45px
}

.comment-child img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-child {
    margin-left: 53px;
    min-height: 50px;
}

.comment-child .info {
    margin-left: 48px;
    font-size: 12px;
    line-height: 20px;
}

/*评论与留言END*/

/* 补充 */
.carousel img {
    width: 100%;
    height: 100%;
}

.carousel .text {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(73, 81, 89, 0.5);
}

.carousel .text span {
    display: inline-block;
    height: 100%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: #04f691
}

div[carousel-item] {
    background: url('../loaders/spinning-circles.svg') no-repeat center #000;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #bb0662;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #bb0662;
}

/* ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-button:vertical {
    display: none
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #393D49
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #b4055f;
    background-image: linear-gradient(#b4055f, #735760)
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #575153
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: #b3075e
} */


::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #969696;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(184, 184, 184, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px
}

::-webkit-scrollbar-thumb:hover {
    background: #58595c
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background: #f5eded
}

html {
    scrollbar-width: thin;
    scrollbar-color: #969696 #58595c;
}

.aplayer-list ol::-webkit-scrollbar-thumb {
    background: #969696 !important;
}

.aplayer-list ol::-webkit-scrollbar-thumb:hover {
    background: #58595c !important;
}


.laypage-main,
.laypage-main * {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.laypage-main {
    margin: 30px 0;
    border: 1px solid #bb0662;
    border-right: none;
    border-bottom: none;
    font-size: 0;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    box-shadow: #bb0662 2px 2px 0px 0px
}

.laypage-main * {
    margin: -1px;
    padding: 0 20px;
    line-height: 36px;
    border-right: 1px solid #bb0662;
    border-bottom: 1px solid #bb0662;
    font-size: 14px;
}

.laypage-main .laypage-curr {
    background-color: #bb0662;
    color: #fff;
}

.layui-elem-quote {
    border-left-color: #bb0662 !important;
}

.layui-btn {
    background-color: #bb0662
}


.article-category a.tag-this {
    border: 1px solid #bb0650;
    background: inherit;
    color: #bb0650;
}

li {
    list-style: inherit
}

ul.layui-fixbar>li {
    list-style: none
}

/* home */
.blogerinfo {
    text-align: center;
    padding: 0 15px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    margin-bottom: 15px;
}

.blogerinfo-figure {
    display: inline-block;
    margin: 20px auto;
}

.blogerinfo-figure img {
    border-radius: 50px;
}

.blogerinfo-nickname {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.blogerinfo-introduce {
    margin: 10px auto;
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
    font-family: "Long Cang";
    color: #000;
}

.blogerinfo-location {
    color: #808080;
    margin: 15px;
}

.blogerinfo-contact {
    padding: 15px;
    padding-top: 5px;
}

.blogerinfo-contact>a {
    padding: 0 10px;
}

/*博主信息END*/

/*友情链接*/
.blogroll>li {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
}

/*友情链接END*/

/*一路走来和后台记录*/
.footprint>dt {
    color: #01AAED;
}

.footprint>dd {
    text-indent: 1.3em;
    padding: 2px 0;
}


/* article */

.search-keywords,
.search-submit {
    display: none;
}

.search-keywords * {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
}

/* detail */
.article-detail {
    background: rgba(255, 255, 255);
    /*backdrop-filter: blur(25px);*/
    padding: 15px;
    box-shadow: 0 1px 8px #a6a6a6;
    margin-bottom: 15px;
}

.article-detail-title {
    text-align: center;
    margin: 20px 0px;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 8px #000000;
    font-size: 24px;
}

.article-detail-info {
    border: 1px dashed #808080;
    font-size: 13px;
    color: #bb0662;
    padding: 5px 0;
    font-family: SimSun;
    text-align: center;
    margin: 0 0 10px;
}

.article-detail-info span {
    margin: 0 5px;
}

.article-detail-content {
    padding: 10px 5px;
}

.article-detail-content>.introduction {
    border-left: 5px solid #d635ac;
    padding: 8px 15px;
    color: #65666a;
}

.article-detail-content>.introduction * {
    padding: 0;
    margin: 0
}

/*碎碎念存留 start*/
.content-detail .content.hide-content {
    max-height: 300px;
    overflow-y: hidden;
}

.more {
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
    padding-bottom: 26px;
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 160px;
    bottom: 1px;
    margin-top: -200px;
}

.more a {
    color: #d666a4
}

.more.show-more {
    padding: 0;
    margin: 0;
    background-image: none;
}


.publish .row {
    margin-bottom: 10px;
    border-bottom: solid 1px #d9d9d9;
}

.publish .comment-face img {
    width: 30px;
    height: 30px;
}

.publish .comment-face span {
    width: 30px;
    height: 30px;
    border: 1px solid #bb0662;
    border-radius: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    background: #bb0662;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

/*碎碎念存留 end*/

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eee
}

::selection {
    background: #c2c2c2;
    color: #bb0650;
}

/* 目录样式 */
.transition--300 {
    transition: all 300ms ease-in-out
}

.toc {
    height: 100%;
    width: 280px;
    transform: translateX(0);
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.toc-icon {
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 2;
}

.toc-icon.menu {
    margin: 4px;
    background-color: #f4f4f4;
    border: 1px solid #999;
    padding: 4px;
}

#toc:checked~.toc {
    box-shadow: 0 0 5px #c8c8c8;
    transform: translateX(0)
}

.toc {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%)
}

.toc.toc-right {
    transform: translateX(100%);
    right: 0;
    position: fixed;
    top: 65px
}

/****Source  Code*****/
.git-dir {
    box-sizing: border-box;
    color: rgb(121, 184, 255);
    display: inline-block;
    fill: rgb(121, 184, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    height: 16px;
    line-height: 21px;
    list-style-type: none;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    vertical-align: text-bottom;
    width: 16px;
}

.git-file {
    box-sizing: border-box;
    color: rgb(106, 115, 125);
    display: inline-block;
    fill: rgb(106, 115, 125);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    height: 16px;
    line-height: 21px;
    list-style-type: none;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    vertical-align: text-bottom;
    width: 16px;
}

.code-box {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-sizing: border-box
}

.code-box .box-header {
    background-color: rgba(241, 248, 255, .5);
    backdrop-filter: blur(25px);
    padding: 16px;
    margin: -1px -1px 0;
    border: 1px solid #c8e1ff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
}

.code-box .box-header .details-container {
    align-items: center;
    display: flex;
}

.details-container .icon {
    margin: -4px !important;
    display: flex;
}

.details-container .desc {
    margin-left: 16px;
    min-width: 0;
    display: flex;
}

.code-box .box-rows {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    margin-bottom: 1em;
}

.code-box .box-rows .row {
    display: flex;
    margin-top: -1px;
    list-style-type: none;
    border-top: 1px solid #e1e4e8;
    box-sizing: border-box;
    min-height: 38px;
    padding: 8px 16px;
    align-items: flex-end;
}

.code-box .box-rows .row:hover {
    background-color: rgba(246, 248, 250, .5);
}

.code-box .box-rows .row:last-of-type {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 1px solid #e1e4e8;
}

.code-box .box-rows .row:last-child {
    border-bottom: 1px solid #e1e4e8;
}

.code-box .box-rows .row .prev {}

.code-box .box-rows .row .icon {
    width: 16px;
    margin-right: 16px;
    box-sizing: border-box;
}

.code-box .box-rows .row .icon img{
    user-select: none;
    width: 24px;
}

.code-box .box-rows .row .header {
    margin-right: 16px;
    min-width: 0;
    flex: auto;
}

.code-box .box-rows .row .header span {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
}

.code-box .box-rows .row .header a {
    color: #24292e;
    text-decoration: none;
    background-color: initial;
    box-sizing: border-box
}

.code-box .box-rows .row .header a:hover {
    color: #0366d6;
    text-decoration: underline;
    outline-width: 0;
}

.code-box .box-rows .row .desc {
    display: block;
    margin-right: 16px;
    min-width: 0;
    flex: auto;
    width: 41.66667%;
    box-sizing: border-box;
}

.code-box .box-rows .row .desc span {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.code-box .box-rows .row .time {
    width: 120px;
    text-align: right;
    color: #6a737d;
}

.code-box .readme-main {
    border-top: 1px solid #e1e4e8;
    backdrop-filter: initial;
    background-color: rgba(255, 255, 255);
}

.code-box .readme-main .readme-content {
    padding: 1em;
    margin-bottom: 1em;
}

.aplayer .aplayer-lrc {
    height: 35px !important;
}

.aplayer .aplayer-lrc p {
    font-size: 16px !important;
    font-weight: 500;
    line-height: 18px !important;
    color: #000;
    text-shadow: 0 0 #000;
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
    color: #FF1493;
    text-shadow: 0 0 black;
}

/*account begin*/
.avatar-add {
    position: relative;
    width: 373px;
    height: 373px;
    background-color: #F2F2F5;
}

.avatar-add .upload-img {
    position: absolute;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -56px;
}

.avatar-add img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 168px;
    height: 168px;
    margin: -50px 0 0 -84px;
    border-radius: 100%;
}

.avatar-add .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

.avatar-add p {
    position: absolute;
    top: 70px;
    width: 100%;
    margin-top: 10px;
    ;
    font-size: 12px;
    text-align: center;
    color: #999;
}

.fly-panel {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.fly-panel[pad20] {
    padding: 20px;
}

.fly-panel-title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}

.fly-panel-main {
    padding: 10px 15px;
}

.fly-user-main {
    position: relative;
    min-height: 600px;
}

.fly-user-main>.layui-nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    padding: 10px 0;
}

.fly-user-main>.layui-nav .layui-icon {
    position: relative;
    top: 2px;
    font-size: 20px;
    margin-right: 10px;
}

.fly-user-main>.fly-panel {
    min-height: 575px;
    margin: 0 0 10px 215px;
}

.fly-user-main .fly-none {
    min-height: 0;
}

.fly-panel-user[pad20] {
    padding-top: 5px;
}

.layui-nav-tree .layui-nav-bar {
    background-color: #bb0662;
}

.layui-tab-brief>.layui-tab-title .layui-this {
    color: #7c0440;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #bb0662;
}

/*account end*/

/*lay im box start */

.layim-status-hide {
    color: #DD691D !important;
}

.layui-layim-tab li.layim-this:after {
    background-color: #bb0662 !important;
}

.layim-tab-content li h5 i {
    color: #C9BDBB !important;
}

.layui-layim-list li .layim-msg-status {
    background-color: #F74C31 !important;
    color: #fff
}

.layim-chat-list li .layui-icon:hover {
    color: #c00 !important;
}

.layim-chat-mine .layim-chat-text {
    background-color: #bb0662 !important;
    color: #fff
}

.layim-chat-mine .layim-chat-text:after {
    border-top-color: #bb0662 !important;
}

.layui-layim-face ul li:hover {
    border: 1px solid #eb7350 !important;
    background: #fff9ec !important;
}

.layim-chat-send span {
    background-color: #c7254e !important;
    color: #fff !important;
}

.layim-chat-send span:hover {
    background-color: #bb0662 !important;
}

.layim-chat-send span:active {
    background-color: #bb0770 !important;
}

.layim-chat-send .layim-send-set {
    border-left: 1px solid #c7254e !important;
}

/*lay im box end */

/*fix grid manager coverage is incomplete*/
.gm-loading .loader:before {
    height: 100%;
}

/** layer notify **/
body .layui-layer.warning {
    background-color: #FFC007;
    color: #000
}

body .warning .layui-layer-content {
    padding: 5px;
}

body .warning .layui-layer-title {
    color: #000;
    font-weight: bold
}

.article-detail-content.topic.hide-content {
    max-height: 500px;
    overflow-y: hidden;
}

.article-detail-content.topic img {
    margin: 10px auto;
}

#topic-comment-loading {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    display: none;
}

#topic-comment-loading .container {
    border: 1px solid #9a0c53;
    background: #bb0662;
}

#topic-comment-loading .container .loading {
    display: block;
    width: 150px;
    height: 48px;
    line-height: 48px;
    padding-left: 48px;
    margin: 0 auto;
    background: url(../images/comment_loading.gif) no-repeat 0 10px;
    text-align: left;
    color: #fff;
}

.topic-info {
    margin-top: 15px;
}

.topic-info .vote-up {
    float: left;
    background: #bb0650;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.topic-info .pub-time {
    float: right;
    line-height: 20px;
    height: 20px;
    padding: 10px;
}

/* topic end */

/* notification box start */
.notification-box {
    width: 300px;
    position: fixed;
    border: 1px solid #56812c;
    box-shadow: 0 2px 10px 0 #4c7523;
    border-radius: 3px;
    z-index: 1000;
    top: 15px;
    right: 5px;
    background: #689f38;
}

.notification-box .title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #20b2aa;
    padding: 5px;
    color: #ffffff;
}

.notification-box .content-container {
    margin: 10px 5px;
    color: #ffffff;
}

.notification-box .content-container .content {
    font-style: italic;
}

.notification-box .content-container .progress {
    width: 100%;
    background: #4f484f;
    margin: 5px 0;
}

.notification-box .content-container .progress .bar {
    width: 0;
    height: 25px;
    background: #7c0440;
    line-height: 25px;
    text-indent: 5px;
    transition: width 500ms;
}

/* notification box end */
.layui-carousel>[carousel-item]:before {
    content: "";
}

/* video start */
.dplayer-controller .dplayer-icons .dplayer-toggle input+label {
    box-shadow: #9a064f 0 0 0 0 inset !important;
    border-color: #9a064f !important;
}

.dplayer-controller .dplayer-icons .dplayer-toggle input+label::after {
    background-image: initial !important;
    background-color: #bb0662 !important;
}

.dplayer-controller .dplayer-icons .dplayer-toggle input:checked+label {
    border-color: rgba(187 6 98 .5) !important;
}

.dplayer-controller .dplayer-icons .dplayer-setting .dplayer-setting-danmaku .dplayer-danmaku-bar-wrap .dplayer-danmaku-bar {
    background-image: initial !important;
    background-color: #d71978 !important;
}

.dplayer-controller .dplayer-icons .dplayer-setting .dplayer-setting-danmaku .dplayer-danmaku-bar-wrap .dplayer-danmaku-bar .dplayer-danmaku-bar-inner {
    background-image: initial !important;
    background-color: #d71978 !important;
}

.dplayer-controller .dplayer-icons .dplayer-setting .dplayer-setting-danmaku .dplayer-danmaku-bar-wrap .dplayer-danmaku-bar .dplayer-danmaku-bar-inner .dplayer-thumb {
    background-image: initial !important;
    background-color: #bb0662 !important;
}

.dplayer-controller .dplayer-icons .dplayer-toggle input:checked+label:before {
    background: hsl(333deg 100% 51% / 50%) !important;
}

.dplayer-played, .dplayer-volume-bar-inner {
    background-color: #d71978 !important;
}

.dplayer-thumb {
    background-color: #bb0662 !important;
}

/* video end */

@media screen and (max-width:640px) {
    body {
        background: #fff
    }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

    .blog-container {
        width: 738px;
        margin: 0 auto;
    }

    .blog-main>.blog-main-right>.blog-module {
        width: 45%;
        margin-bottom: 15px;
    }

    .blog-main>.blog-main-right>.blog-module:nth-child(odd) {
        float: left;
        clear: left;
    }

    .blog-main>.blog-main-right>.blog-module:nth-child(odd).blog-module:last-child {
        width: auto;
        float: none;
        clear: both;
    }

    .blog-main>.blog-main-right>.blog-module:nth-child(even) {
        float: right;
        clear: right;
    }

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .blog-container {
        width: 962px;
    }

    .blog-main>.blog-main-left {
        width: 66%;
    }

    .blog-main>.blog-main-right {
        width: 32%;
    }

    .blog-main>.blog-main-right>.blog-module {
        width: auto;
        float: none !important;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .blog-container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .sitemap {
        padding: 6px 15px;
    }

    .sitemap a {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    .sitemap {
        padding: 8px 15px;
    }

    .sitemap a {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .blog-nav .layui-nav {
        display: block;
    }

    .blog-nav .blog-user {
        right: 0;
    }

    .blog-nav .blog-logo {
        position: absolute;
        left: 10%;
        width: auto;
    }

    .blog-nav .blog-navicon {
        display: none;
    }

    .blog-nav-left {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .blog-nav-left {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .blog-mask {
        display: none;
    }
}

@media (min-width: 768px) {
    .article>.article-right>.article-title a {
        font-size: 17px;
    }

    .article>.article-right>.article-abstract {
        font-size: 14px;
        display: block;
        margin-top: 10px;
        /*text-indent: 2em;*/
    }

    .article>.article-footer {
        margin-top: 10px;
        font-size: 13px;
    }

    .article>.article-footer .article-viewinfo {
        display: inline;
        float: right;
    }

    .article>.article-footer .article-author {
        display: inline;
    }

    .icon-stick {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .article>.article-right>.article-title a {
        font-size: 18px;
    }

    .icon-stick {
        font-size: 15px;
    }
}

/*分类导航In动画*/
@keyframes categoryIn {
    from {
        right: -140px;
    }

    to {
        right: 0;
    }
}

@-moz-keyframes categoryIn {
    from {
        right: -140px;
    }

    to {
        right: 0;
    }
}

@-webkit-keyframes categoryIn {
    from {
        right: -140px;
    }

    to {
        right: 0;
    }
}

/*分类导航Out动画*/
@keyframes categoryOut {
    from {
        right: 0;
    }

    to {
        right: -140px;
    }
}

@-moz-keyframes categoryOut {
    from {
        right: 0;
    }

    to {
        right: -140px;
    }
}

@-webkit-keyframes categoryOut {
    from {
        right: 0;
    }

    to {
        right: -140px;
    }
}

@media (min-width: 768px) {
    .article-category {
        font-size: 13px;
        width: 260px !important;
    }

    .article-category>.blog-module-title {
        text-align: start;
    }

    .article-category>a {
        padding: 7px 1%;
        margin: 5px 0;
        width: 46%;
    }

    .article-category>a:nth-child(odd) {
        float: right;
    }

    .article-category>a:nth-child(even) {
        float: left;
    }

    @keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @-moz-keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @-webkit-keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }

    @-moz-keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }

    @-webkit-keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }
}

@media (min-width: 992px) {
    .article-category {
        display: block;
        position: initial;
        background: rgba(255, 255, 255, .5);
        backdrop-filter: blur(25px);
        color: #333;
        width: auto !important;
        font-size: 14px;
        margin: 0 0 15px 0;
    }

    .article-category a {
        background: inherit;
        border: 1px solid #d2d2d2;
        color: #444;
    }

    .article-category a:hover {
        border: 1px solid #bb0650;
        background: inherit;
        color: #bb0650;
    }

    .category-toggle {
        display: none;
    }
}

@media(max-width: 768px) {
    .article>.article-left {
        display: inline-block;
        width: 100%
    }

    .article>.article-right {
        display: inline-block;
        width: 100%
    }

    .article>.article-right>.article-title a {
        font-size: 17px;
        color: #bb0650;
    }

    .article>.article-right>.article-abstract {
        font-size: 14px;
        display: block;
        margin-top: 10px;
    }

    .code-box .box-rows .row .desc {
        display: none;
    }

    .code-box .box-rows .row .time {
        display: none;
    }

    /*.prev-next-item {*/
    /*    display: none*/
    /*}*/
}

/***********************************************动画定义*************************************************/
/*侧边导航In动画*/
@keyframes leftIn {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

@-moz-keyframes leftIn {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

@-webkit-keyframes leftIn {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

/*侧边导航Out动画*/
@keyframes leftOut {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }
}

@-moz-keyframes leftOut {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }
}

@-webkit-keyframes leftOut {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }
}

/*分享In动画*/
@keyframes shareIn {
    from {
        right: -200px;
    }

    to {
        right: 80px;
    }
}

@-moz-keyframes shareIn {
    from {
        right: -200px;
    }

    to {
        right: 80px;
    }
}

@-webkit-keyframes shareIn {
    from {
        right: -200px;
    }

    to {
        right: 80px;
    }
}

/*分享Out动画*/
@keyframes shareOut {
    from {
        right: 80px;
    }

    to {
        right: -200px;
    }
}

@-moz-keyframes shareOut {
    from {
        right: 80px;
    }

    to {
        right: -200px;
    }
}

@-webkit-keyframes shareOut {
    from {
        right: 80px;
    }

    to {
        right: -200px;
    }
}

/*淡入动画*/
@keyframes maskFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes maskFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes maskFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*淡出动画*/
@keyframes maskFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes maskFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes maskFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (min-width: 992px) {
    .blog-search {
        margin-bottom: 15px;
    }

    .search-keywords,
    .search-submit {
        display: inline-block;
    }

    .search-keywords {
        width: 85%;
        float: left;
    }

    .search-keywords>input {
        border-radius: 0;
    }

    .search-submit {
        width: 14%;
        float: right;
    }

    .search-submit>.search-btn {
        display: block;
        width: 100%;
        height: 36px;
        background: rgba(255, 255, 255, .5);
        backdrop-filter: blur(25px);
        cursor: pointer;
        float: right;
        border-radius: 1px;
        border: 1px solid #e2e2e2;
    }

    .search-submit>.search-btn:hover {
        border: 1px solid #d2d2d2;
    }

    .search-submit>.search-btn i {
        width: 13px;
        line-height: 38px;
        display: block;
        margin: 0 auto;
    }
}

@media screen {
    .str {
        color: #080
    }

    .kwd {
        color: #008
    }

    .com {
        color: #800
    }

    .typ {
        color: #606
    }

    .lit {
        color: #066
    }

    .clo, .opn, .pun {
        color: #660
    }

    .tag {
        color: #008
    }

    .atn {
        color: #606
    }

    .atv {
        color: #080
    }

    .dec, .var {
        color: #606
    }

    .fun {
        color: red
    }
}

@media print, projection {
    .kwd, .tag, .typ {
        font-weight: 700
    }

    .str {
        color: #060
    }

    .kwd {
        color: #006
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404
    }

    .lit {
        color: #044
    }

    .clo, .opn, .pun {
        color: #440
    }

    .tag {
        color: #006
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}

/* 目录样式 */
@media (min-width: 52em) {
    .toc {
        transform: translateX(0)
    }

    .toc.toc-right {
        transform: translateX(0);
        position: fixed;
        top: 68px
    }

    .toc-icon {
        display: none
    }
}

@media (min-width: 768px) {
    .code-box .box-rows .row .header {
        width: 16.66667%
    }
}

.comment-parent .comment-detail .content ul, .comment-parent .comment-detail .content ol {
    padding-left: 2em;
}

:not(pre)>code {
    color: #f8f8f2;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 85%;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    background: #272822;
    padding: 0.3em;
    border-radius: .3em;
    white-space: normal;
    margin: 0 5px;
}


/* timeline start */
.cd-container a {
    color: #acb7c0;
    text-decoration: none;
    /* font-family: "Microsoft yahei", sans-serif; */
}

.cd-container img {
    max-width: 100%;
}

.cd-container h1, h2 {
    /* font-family: "Microsoft yahei", sans-serif; */
    font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;
}

header h1 {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }

    header h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    /*margin-bottom: 2em;*/
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        /*margin-bottom: 3em;*/
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-img.cd-picture {
    background: #75ce66;
}

.cd-timeline-img.cd-movie {
    background: #c03b44;
}

.cd-timeline-img.cd-location {
    background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 rgba(215, 228, 237, .5);
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #303e49;
}

.cd-timeline-content .content, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content .content {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #bb0662;
    color: #ffffff;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #7f0744;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 40%;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }

    .cd-timeline-content .cd-read-more {
        float: left;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {

    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.cd-timeline-content .content ul, .cd-timeline-content .content ol {
    padding-left: 2em;
}

.cd-timeline-content .content a {
    color: #bb0662;
}

.cd-timeline-content .content a:hover {
    color: #c5166e;
    text-decoration: underline;
}

/* timeline end */


/* fira code start */
@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/woff2/FiraCode-Light.woff2') format('woff2'), url("../fonts/woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/woff2/FiraCode-Regular.woff2') format('woff2'), url("../fonts/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/woff2/FiraCode-Medium.woff2') format('woff2'), url("../fonts/woff/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/woff2/FiraCode-SemiBold.woff2') format('woff2'), url("../fonts/woff/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/woff2/FiraCode-Bold.woff2') format('woff2'), url("../fonts/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('../fonts/woff2/FiraCode-VF.woff2') format('woff2-variations'), url('../fonts/woff/FiraCode-VF.woff') format('woff-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
}

/* fira code end */

.task-list-item {
    list-style-type: none;
}

.task-list-item input[type=checkbox] {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
}

.article-detail-content blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #5a8ad3;
    background: #f6f6f7;
    padding: 7px;
    font-style: italic;
}

.article-detail-content.cnBeta>p {
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 2em;
}

.article-detail-content.cnBeta>p img {
    display: block;
    margin: 0 auto;
}

.article-detail-content blockquote p {
    margin: 0;
}

.article-detail-content blockquote p:not(:first-child) {
    margin-top: 16px;
}

.tips {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
    color: #242020;
}

/* code tools start */
.code-area::after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #ff5f56;
    width: 12px;
    height: 12px;
    top: 0;
    left: 12px;
    margin-top: 12px;
    -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
    box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}

.code_copy {
    position: absolute;
    top: 0.7rem;
    right: 25px;
    z-index: 1;
    filter: invert(50%);
    cursor: pointer;
}

.codecopy_notice {
    position: absolute;
    top: 0.7rem;
    right: 6px;
    z-index: 1;
    filter: invert(50%);
    opacity: 0;
}

.code_lang {
    position: absolute;
    top: 1.2rem;
    right: 46px;
    line-height: 0;
    font-weight: bold;
    font-family: "cascadia-code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    z-index: 1;
    filter: invert(50%);
    cursor: pointer;
}

.code-expand {
    position: absolute;
    top: 4px;
    right: 0;
    filter: invert(50%);
    padding: 7px;
    z-index: 999 !important;
    cursor: pointer;
    transition: all .3s;
    transform: rotate(0deg);
}

.code-closed .code-expand {
    transform: rotate(-180deg) !important;
    transition: all .3s;
}

.code-closed pre::before {
    height: 0;
}

pre[class*=language] {
    /* padding: 2rem 1rem 1rem 3rem !important; */
    padding-top: 2rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

code {
    padding: 1px 5px;
    margin-top: 13px !important;
    font-size: 0.91rem;
}

pre>code {
    padding: 0;
    display: inline-block;
}

.code_lang::selection {
    color: #000
}

/* code tools end */

.d-shadow {
    box-shadow: 0 1px 8px #a6a6a6;
}

.layui-btn-primary {
    border-color: #bb0662;
    background-image: initial;
    background-color: initial;
    color: rgb(189, 181, 170);
}

.layui-btn-primary:hover {
    color: #fff;
    border-color: #c80a6a !important;
}

.layui-fixbar{
    z-index: 5 !important;
}

.ai-tips-warning{
    background: #d9b713 !important;
    color: #000 !important;
    font-weight: bold;
    display: block !important;
    text-align: center
}