/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .blog-container { width: 738px; margin: 0 auto; }

    .blog-main > .blog-main-right > .blog-module { width: 45%; margin-bottom: 15px; }

    .blog-main > .blog-main-right > .blog-module:nth-child(odd) { float: left; clear: left; }

    .blog-main > .blog-main-right > .blog-module:nth-child(odd).blog-module:last-child { width: auto; float: none; clear: both; }

    .blog-main > .blog-main-right > .blog-module:nth-child(even) { float: right; clear: right; }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .blog-container { width: 962px; }

    .blog-main > .blog-main-left { width: 66%; }

    .blog-main > .blog-main-right { width: 32%; }

    .blog-main > .blog-main-right > .blog-module { width: auto; float: none !important; }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .blog-container { width: 1170px; }
}

@media (min-width: 768px) {
    .sitemap { padding: 6px 15px; }

    .sitemap a { font-size: 13px; }
}

@media (min-width: 992px) {
    .sitemap { padding: 8px 15px; }

    .sitemap a { font-size: 14px; }
}
@media (min-width: 992px) {
    .blog-nav .layui-nav { display: block; }

    .blog-nav .blog-user { right: 0; }

    .blog-nav .blog-logo { position: absolute; left: 10%; width: auto; }

    .blog-nav .blog-navicon { display: none; }

    .blog-nav-left { display: none !important; }
}
@media (min-width: 992px) {
    .blog-nav-left { display: none !important; }
}
@media (min-width: 992px) {
    .blog-mask { display: none; }
}
@media (min-width: 768px) {
    .article > .article-right > .article-title a { font-size: 17px; }

    .article > .article-right > .article-abstract { font-size: 14px; display: block; margin-top: 10px; /*text-indent: 2em;*/ }

    .article > .article-footer { margin-top: 10px; font-size: 13px; }

    .article > .article-footer .article-viewinfo { display: inline; float: right; }

    .article > .article-footer .article-author { display: inline; }

    .icon-stick { font-size: 14px; }
}

@media (min-width: 992px) {
    .article > .article-right > .article-title a { font-size: 18px; }

    .icon-stick { font-size: 15px; }
}
/*分类导航In动画*/
@keyframes categoryIn {
    from { right: -140px; }

    to { right: 0; }
}

@-moz-keyframes categoryIn {
    from { right: -140px; }

    to { right: 0; }
}

@-webkit-keyframes categoryIn {
    from { right: -140px; }

    to { right: 0; }
}

/*分类导航Out动画*/
@keyframes categoryOut {
    from { right: 0; }

    to { right: -140px; }
}

@-moz-keyframes categoryOut {
    from { right: 0; }

    to { right: -140px; }
}

@-webkit-keyframes categoryOut {
    from { right: 0; }

    to { right: -140px; }
}

@media (min-width: 768px) {
    .article-category { font-size: 13px; width: 260px !important; }

    .article-category > .blog-module-title { text-align: start; }

    .article-category > a { padding: 7px 1%; margin: 5px 0; width: 46%; }

    .article-category > a:nth-child(odd) { float: right; }

    .article-category > a:nth-child(even) { float: left; }

    @keyframes categoryIn {
        from { right: -280px; }

        to { right: 0; }
    }

    @-moz-keyframes categoryIn {
        from { right: -280px; }

        to { right: 0; }
    }

    @-webkit-keyframes categoryIn {
        from { right: -280px; }

        to { right: 0; }
    }

    @keyframes categoryOut {
        from { right: 0; }

        to { right: -280px; }
    }

    @-moz-keyframes categoryOut {
        from { right: 0; }

        to { right: -280px; }
    }

    @-webkit-keyframes categoryOut {
        from { right: 0; }

        to { right: -280px; }
    }
}

@media (min-width: 992px) {
    .article-category { display: block; position: initial; background: rgba(255,255,255,.5);backdrop-filter: blur(100px); color: #333; width: auto !important; font-size: 14px; margin: 0 0 15px 0; }

    .article-category a { background: inherit; border: 1px solid #d2d2d2; color: #444; }

    .article-category a:hover { border: 1px solid #bb0650; background: inherit; color: #bb0650; }

    .category-toggle { display: none; }
}

@media(max-width: 768px) {
    .article > .article-left { display: inline-block; width: 100% }
    .article > .article-right { display: inline-block; width: 100% }
    .article > .article-right > .article-title a { font-size: 17px; color: #bb0650; }
    .article > .article-right > .article-abstract { font-size: 14px; display: block; margin-top: 10px; }
}
/***********************************************动画定义*************************************************/
/*侧边导航In动画*/
@keyframes leftIn {
    from { left: -200px; }

    to { left: 0; }
}

@-moz-keyframes leftIn {
    from { left: -200px; }

    to { left: 0; }
}

@-webkit-keyframes leftIn {
    from { left: -200px; }

    to { left: 0; }
}

/*侧边导航Out动画*/
@keyframes leftOut {
    from { left: 0; }

    to { left: -200px; }
}

@-moz-keyframes leftOut {
    from { left: 0; }

    to { left: -200px; }
}

@-webkit-keyframes leftOut {
    from { left: 0; }

    to { left: -200px; }
}

/*分享In动画*/
@keyframes shareIn {
    from { right: -200px; }

    to { right: 80px; }
}

@-moz-keyframes shareIn {
    from { right: -200px; }

    to { right: 80px; }
}

@-webkit-keyframes shareIn {
    from { right: -200px; }

    to { right: 80px; }
}

/*分享Out动画*/
@keyframes shareOut {
    from { right: 80px; }

    to { right: -200px; }
}

@-moz-keyframes shareOut {
    from { right: 80px; }

    to { right: -200px; }
}

@-webkit-keyframes shareOut {
    from { right: 80px; }

    to { right: -200px; }
}

/*淡入动画*/
@keyframes maskFadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@-moz-keyframes maskFadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@-webkit-keyframes maskFadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

/*淡出动画*/
@keyframes maskFadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

@-moz-keyframes maskFadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

@-webkit-keyframes maskFadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}
@media (min-width: 992px) {
    .blog-search { margin-bottom: 15px; }

    .search-keywords,
    .search-submit { display: inline-block; }

    .search-keywords { width: 85%; float: left; }

    .search-keywords > input { border-radius: 0; }

    .search-submit { width: 14%; float: right; }

    .search-submit > .search-btn { display: block; width: 100%; height: 36px; background: rgba(255,255,255,.5);backdrop-filter: blur(100px); cursor: pointer; float: right; border-radius: 1px; border: 1px solid #e2e2e2; }

    .search-submit > .search-btn:hover { border: 1px solid #d2d2d2; }

    .search-submit > .search-btn i { width: 13px; line-height: 38px; display: block; margin: 0 auto; }
}

@media screen {
    .str { color: #080 }

    .kwd { color: #008 }

    .com { color: #800 }

    .typ { color: #606 }

    .lit { color: #066 }

    .clo, .opn, .pun { color: #660 }

    .tag { color: #008 }

    .atn { color: #606 }

    .atv { color: #080 }

    .dec, .var { color: #606 }

    .fun { color: red }
}

@media print,projection {
    .kwd, .tag, .typ { font-weight: 700 }

    .str { color: #060 }

    .kwd { color: #006 }

    .com { color: #600; font-style: italic }

    .typ { color: #404 }

    .lit { color: #044 }

    .clo, .opn, .pun { color: #440 }

    .tag { color: #006 }

    .atn { color: #404 }

    .atv { color: #060 }
}

/* 目录样式 */
@media (min-width: 52em) {
     .toc {
         transform: translateX(0)
     }

     .toc.toc-right {
         transform: translateX(0);
         position: fixed;
         top: 68px
     }

     .toc-icon {
         display: none
     }
 }

@media (min-width: 768px) {
    .code-box .box-rows .row .header {
        width: 16.66667%
    }
}

@media (prefers-color-scheme: dark) {
    .layui-layer-ico{background: url(/images/dark-icons.png) no-repeat;background-color: #555}

    .article > .article-right > .article-title a:visited {
        color: #999;
    }
}